{{loading-slider duration=250}}

<h2 id='title'>Welcome to Ember.js</h2>

<ul>
  <li>{{link-to 'Home' 'index'}}</li>
  <li>{{link-to 'Two Second Transition' 'two'}}</li>
  <li>{{link-to '75ms Transition' '75'}}</li>
  <li>{{link-to 'Orange 500ms Transition' 'orange'}}</li>
</ul>

<p>
  <button {{action 'showAnimation'}}>Show for 1 second</button>
  <button {{action 'showExpandingAnimation'}}>Show an expanding animation</button>
  <button {{action 'showMultiExpandingAnimation'}}>Show a fancy expanding animation</button>
</p>

<div class="boxed">
  {{outlet}}

  <p>
    <a href="http://github.com/jerel/ember-cli-loading-slider">Download the code</a>
  </p>

</div>
